<div class="bg-sidebar">
    <div class="search">
        {!! Form::open(array('method'=>'post','url' => '/products','class'=>'form-inline form','role'=>'form')) !!}
        <div class="search-wrap">
            <button class="search-button hidden" type="submit" title="Start Search">
                <i class="fa fa-search"></i>
            </button>
            
            @if(!empty($search_key))
            <input type="text" class="search-input" name="key" placeholder="{{$search_key}}">
            <i class="fa fa-search" aria-hidden="true"></i>
            @else
            <input type="text" class="search-input" name="key" placeholder="{{ __('common.search') }}">
            <i class="fa fa-search" aria-hidden="true"></i>
            @endif
        </div>
        {!! Form::close() !!}
    </div>
</div>